/* Webfont: NorthDragon-Regular */@font-face {
    font-family: 'NorthDragon';
    src: url('new North Dragon.eot'); /* IE9 Compat Modes */
    src: url('new North Dragon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('new North Dragon.woff') format('woff'), /* Modern Browsers */
         url('new North Dragon.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

